* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* star rating widget */
.star-icon {
  --icon-size: 32px;
  width: var(--icon-size);
  height: var(--icon-size);
  cursor: pointer;
}
.star-icon-filled {
  fill: yellow;
}
